
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.child{
    flex-basis: 24%;
    border:2px solid blue;
    margin-bottom: 15px;
    text-align: center;
    padding: 10px 0;
}

.fieldbox{
    display: none;
}
